@import "~antd/dist/antd.css";

body {
  background-color: rgb(25, 25, 31);
}

.container {
  padding: 20px;
}

.ant-spin-dot-item {
  background-color: white;
}

#loading {
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
